/* Write your CSS here */
.link-item {
  text-decoration: none;
}

.list-container {
  display: flex;
  justify-content: space-between;
}

.nav-light-container {
  background-color: #dcdcdc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  padding-left: 70px;
}

.website-logo {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

.nav-list {
  display: flex;
}

.nav-item-heading {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto';
  color: black;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 20px;
}

.dark-theme {
  height: 50px;
  width: 50px;
  margin-right: 100px;
  margin-top: 10px;
}

.nav-dark-container {
  background-color: #333333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  padding-left: 70px;
}

.dark-mode-heading {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto';
  color: white;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 20px;
}

.light-theme {
  height: 50px;
  width: 50px;
  margin-right: 100px;
  margin-top: 10px;
}

.theme-button {
  background-color: transparent;
  border-width: 0px;
}
